.nav{
    width: 100%;
    height: 80px;
    background-color: rgb(205, 210, 226);
    position:fixed;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
}
.home{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: larger;
    margin-left: 50px;
    color: rgb(68, 13, 119);
    
}
.list{
    margin-top: 22px;
    margin-left: 55%;
}
.second{
    width: 100%;
    height: 190px;
    background-color: rgb(205, 210, 226);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
    position:fixed;
}
.para{
    font-size: xx-large;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 55px;
    margin-left: 15%;
    color: rgb(89, 50, 126);
}
.sin{
    font-size: x-large;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 35%;
}
.third{
    width: 100%;
    height: 150px;
    background-color: white;
    /* box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1); */
    position:fixed;
    margin-top: 20%;
}

.bro{
    color: rgb(66, 14, 114);
    font-weight: 900;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 38%;

}
.cho{
    font-weight: 400;
    color: rgb(87, 42, 129);
    margin-left: 37%;
    font-size: x-large;
}
.fourth{
    width: 25%;
    height: 350px;
    background-color: rgb(225, 218, 231);
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
    position:fixed;
    margin-top: 30%;
    margin-left: 10px;
    
}
.cert{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(137, 58, 206);
     /* box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1); */
}
.blo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 15px;
    font-size: large;
}
.btn{
    width: 100px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(71, 15, 122);
    color: white;
    margin-left: 35%;
    margin-top: 20%;
}