.back{
    background-image: url("li.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}
/* login */
body {
    background-image: url("libr.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
.dv{
    position: relative;
    display: flex;
    justify-content: flex-end;
    }
    .nav{
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        margin-left: auto;
    }
    .nav li {
        margin-right:50px;
        margin-top: 10px;
        display: block;   
        
    }
    .nav li a{
        text-decoration: none; 
        font-size:x-large;
        color:white;
    }
    .login-container {
        width: 400px;
        height: 350px;
        max-width: 400px;
        padding: 20px;
        background-color: #5a5454;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: auto;
        margin-top: 200px;
        
    }
    
    .login-form h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .input-group {
        margin-bottom: 15px;
    }
    
    .input-group label {
        display: block;
        margin-bottom: 5px;
    }
    
    .input-group input {
        width: 375px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }
    .input-group input:focus {
        border-color: #007bff;
    }
    
    button {
        width: 100%;
        padding: 10px;
        background-color: #d3dde7;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    
    button:hover {
        background-color: #a4a9ad;
    }
    /* signup */
    body {
        background-image: url("libr.webp");
        background-repeat: no-repeat;
        background-size: cover;
      }
    .signup{
        width: 400px;
        height: 400px;
        max-width: 400px;
        padding: 20px;
        background-color:#5a5454;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: auto;
        margin-top: 200px;
    }
    .img{
        width: 250px;
        height: 250px;
        justify-content: center;
        margin-left: 100px;

    }
    .para{
        color:white;
        
    }
    .paragraph{
    float: left;
    width: 32%;
    height: 480px;
    padding-left: 20px;
    
    margin-top: 100px;
    }
    
    /* addbook */
    body {
        background-image: url("libr.webp");
        background-repeat: no-repeat;
        background-size: cover;
      }
    
    .Addbook{
        width: 400px;
        height: 475px;
        max-width: 400px;
        padding: 20px;
        background-color: #5a5454;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: auto;
        margin-top: 200px;
    }
    .input{
        margin-bottom: 15px;
        width: 399px;
        padding: 10px;
        border-radius: 5px;
    }
    .bord{
        width: 655px;
        height: 90px;
        background-color:none;
        margin: auto;
        font-size: x-large;
        color: white;
    }
    .pa{
        font-size: 18pt; 
        color: #c9a9f0;
        
    }
    .div{
        position: relative;
        display: flex;
        justify-content: flex-end;
        }
        .navs{
            margin: 0;
            padding: 0;
            display: flex;
            list-style-type: none;
            margin-left: auto;
        }
        .navs li {
            margin-right:50px;
            margin-top: 10px;
            display: block;   
            
        }
        .navs li a{
            text-decoration: none; 
            font-size:x-large;
            color:black;
        }
        .bord{
            color: black;
        }
  
    